#stream-container {
  height: 500px;
  border: 2px solid black;
  position: relative;
}

#twitter-container{
  width: 200px;
  height: 100%;
  left: 0;
  position: absolute;
  background-color: #666;
  overflow: hidden;
}
.tweet {
  padding: 10px;
  background-color: #333;
  margin: 5px 0;
  position: relative;
  color: white;
}

#carousel-container {
  height: 40px;
  background-color: rgba(150,150,150,.5);
  position: relative;
  overflow: hidden;
}


.carousel-item {
  padding: 9px 30px;
  display: inline-block;
}

#carousel {
    position: absolute;
    height: 40px;
    width: 5000%;
    font-size: 18px;
    text-align: left;
    animation-name: carousel;
    animation-duration: 200s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes carousel {
    0% {
        left: 500px;
    }
    100% {
        left: -5000px;
    }
}​
