#header {
  text-align: center;
}

#frame {
  width: 100%;
  height: 100%;
}
#weather-bug {
  top: 80px;
  right: 216px;
  width: 150px;
  position: absolute;
  z-index: 500;
}

#stream-container {
  height: 500px;
  border: 2px solid black;
  position: relative;
}

#twitter-container{
  width: 200px;
  height: 100%;
  left: 0;
  position: absolute;
  background-color: #666;
  overflow: hidden;
}
.tweet {
  padding: 10px;
  background-color: #333;
  margin: 5px 0;
  position: relative;
  color: white;
  transition: all 0.25s linear;
}

#carousel-container {
height: 70px;
  background-color: rgb(150,150,150);
  position: relative;
  overflow: hidden;
  margin-top: -35px;
  text-transform: uppercase;
  line-height: 52px;
  font-size: 30px;
  font-weight: 600;
}


.carousel-item {
  padding: 9px 30px;
  display: inline-block;
}

#carousel {
  position: absolute;
  height: 40px;
  width: 5000%;
  text-align: left;
  animation-name: carousel;
  animation-duration: 200s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes carousel {
  0% {
      left: 500px;
  }
  100% {
      left: -25000px;
  }
}​
